@use "bootstrap/scss/bootstrap" as *; // Importe toutes les variables de Bootstrap dans l'espace global

/**** SECTION éducation ***/
#sectionEducation article {
    background: $gray-100;
    border: 0.1px solid rgba($primary, 30%); // mettre une bordure ultra légère avec une opacité de la couleur primaire à 30%
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    transition: transform 1s; /* éviter l'effet cassant de l'augmentation de la taille d'un parcours de formation au survol de la souris*/
   
    &:hover {
    transform: scale(1.05);
    }

    .divDivider {
        max-width: 200px;
        border-top: 2px solid $indigo-500;
        margin: 20px auto;
    }
}
