@use '../utils/variables' as *; // importation des variables de couleur

%banner {
    // background-color: $tertiary;
    padding: 1.5rem 0px 0.5rem 0px;

    animation: displayBanner 15s ease-in infinite alternate-reverse ;
    @keyframes displayBanner {
        from {
            transform: translateX(-45%);       
         }
        to {
            transform: translateX(45%);        
}
    }
}

%cardContact {
    background-color: grey;
}

%stylishIcon {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        .svg-inline--fa {
                width: 80%;

        }
}