/** STYLISATION du header **/
@use '../utils/variables' as variables;
@use "bootstrap/scss/bootstrap" as * ;

header {
    nav {
        .navbar-brand {
            margin-left: 1rem;
            font-size: 1rem;
        }

        #divListLinks {
            justify-content: space-evenly;

            .nav-link {
                font-weight: bold;
                &:hover {
                background-color: variables.$primary;
                color:white;
                cursor: pointer;
                }
            }
            }
        
            @include media-breakpoint-up(lg) {
                flex-wrap: wrap !important;
            }
           
        }
    }

     /* Bouton Me contacter */
    .btn-primary  {
        width: 95vw !important; /*  Surcharger la largeur du bouton en mobile first pour occuper toute la largeur de l'écran jusqu'aux écrans d'ordinateurs*/
        border-radius: 14px !important;
        @media screen and (width > 992px) {
            width: auto !important;
            border-radius: 18px !important;
        }
    }
    
