/**** STYLISATION DE BASE ****/

body {
    /** Stylisation du cv avec la font Playwrite Magyarország de Google **/
    font-family: "Playwrite HU", cursive !important;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
}

ul {
    list-style-type: none;
    li {
        margin-bottom: 0.5rem;
    }
}
