@use '../layouts/header';
@use '../layouts/footer';
@use '../utils/variables' as variables;
@use "bootstrap/scss/bootstrap" as *; // Importe toutes les variables de Bootstrap dans l'espace global
@use "../components/timeline.scss";
@use '../components/diploma_or_certification.scss';
@use '../utils/placeholders' as *;
@use '../components/form.scss' as *;
/** Stylisation de la section Présentation **/
.presentation {
    max-height: 730px !important;
    @media screen and (width > 992px) {
        height: 500px;
    }
    /* Cibler les liens boutons sous forme de lien direct */
        a[role="button"] {
            border-radius: 50px !important;
            width: auto !important;
        } 

    img {
        @media screen and (width > 992px) {
            margin-top: auto !important;
            max-width: auto !important;
            position: relative;
            left: 17rem;
            bottom: 10.2rem;
            // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
        @media screen and (width > 1024px) {
            left: 13rem;
        }
    }
}

/*** Section des compétences **/
#sectionSkills {
    /* Gestion de la complexité de la section au niveau responsive */
    margin-top: 2rem;

    @media screen and ( width > 524px) {
                    margin-top: 4rem;
    }
    @media screen and ( 566px  < width< 992px) {
            margin-top: 6rem;
    }
    
    @media screen and (width > 610px) {
    margin-top: 3rem;   
 }
     @media screen and (width > 614px) {
    margin-top: 22rem;   
 }
    @media screen and (width > 874px) {
     margin-top: 8rem;   
 }
    @media screen and (width > 2052px) {
     margin-top: 12rem;   
 }
    /* Stylisation de chaque bloc */
    article {
        padding: 1.5rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
        transition: scale 1s ease;
        &:hover {
            @include media-breakpoint-up(md){
                background-color: variables.$tertiary;
                scale: 1.1;
            }
        }
        ul{
            margin: 0;
            padding: 0;
            li {
                background-color: white;
                padding: 10px;
                img {
                    margin-right: 1rem;
                }

                #webpackIcone {
                    margin-left: -0.1rem !important;
                    margin-right: 0.7rem;
                }
                &:hover {
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                }
        }
    }

    /* Stylisation des icônes Bootstrap de la section Compétences */
    .bi {
        text-shadow: -1px 0px 1px currentColor;
        font-size: larger;
    }
 }    
}

#sectionProjects {
    ul {
        padding: 0;
        margin: 0;
        li {
            font-size: 11px;
        }
    }

    .project {        
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
        transition: scale 1s ease;
        .tagSymfony {
            background-color: $blue-200;
            color: $blue-500;
            font-weight: bold;
        }

        .tagMysql {
            background-color: $red-200;
            color: $red-500;
            font-weight: bold;
        }

        .tagTwig {
            background-color: $yellow-200;
            color: $yellow-500;
            font-weight: bold;
        }

        .tagJavaScript {
            background-color: $teal-200;
            color: $teal-500;
            font-weight: bold;
        }

        .tagMercure {
            background-color: $teal-200;
            color: $teal-500;
            font-weight: bold;
        }

        .tagAws {
            background-color: $orange-200;
            color: $orange-500;
            font-weight: bold;
        }

        &:hover {
            @include media-breakpoint-up(md){
                background-color: variables.$tertiary;
                scale: 1.1;
            }
        }
    }
}

#sectionCallToActions {
    .icon {
            @extend %stylishIcon;
    }
}

#sectionEducation {
    .banner {
        @extend %banner;
    }
}

